node_modules/
npm-debug.log*
*.tgz

**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
*.tfplan
crash.log
crash.*.log
.terraform.lock.hcl.bak

.env
.env.*
!.env.example
*.pem
*.key
secrets.auto.tfvars

.DS_Store
*.swp
.vscode/
.idea/
